# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
/dist
/tmp
/swaggerTmp
/executable


/tibco-cloud.properties
/HugoNotes.txt
/ng-swagger-gen-config.json
/spotfireReports.json
/test.html
/applicationTemplate/template1
/applicationTemplate/template2
/src/common/fuzzy-search.js
/test/tmpTest

/tmp
/docsTemp

/messageSamples

timingResults.txt
/ts-out

READMETable.md
