/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled output
/dist
/tmp
/swaggerTmp

/tibco-cloud.properties
/HugoNotes.txt
/ng-swagger-gen-config.json
/spotfireReports.json
/test.html
/applicationTemplate/template1
/applicationTemplate/template2
/src/**/*.js
/src/**/*.ts

# documentation tutorials (with pictures)
/docs/tutorials/**
/docs/tutorials_new/**
/docs/tutorials_old/**

# White source stuff
.whitesource

# test files.
/test/**

# swagger Tmp folder
/swaggerTmp/**

/ts-out/**
/src/**
